NET rst LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET en LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET data_d<3> LOC = "A8" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data_d<2> LOC = "G9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data_d<1> LOC = "A7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data_d<0> LOC = "D13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data_u<3> LOC = "E6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data_u<2> LOC = "D6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data_u<1> LOC = "C3" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data_u<0> LOC = "D4" | IOSTANDARD = SSTL2_I ;
NET clk LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET clk PERIOD = 20.0ns HIGH 40%;