//! **************************************************************************
// Written by: Map M.81d on Tue Nov 01 14:22:36 2022
//! **************************************************************************

SCHEMATIC START;
COMP "en" LOCATE = SITE "L13" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "data_d<0>" LOCATE = SITE "D13" LEVEL 1;
COMP "data_d<1>" LOCATE = SITE "A7" LEVEL 1;
COMP "data_d<2>" LOCATE = SITE "G9" LEVEL 1;
COMP "data_d<3>" LOCATE = SITE "A8" LEVEL 1;
COMP "data_u<0>" LOCATE = SITE "D4" LEVEL 1;
COMP "data_u<1>" LOCATE = SITE "C3" LEVEL 1;
COMP "data_u<2>" LOCATE = SITE "D6" LEVEL 1;
COMP "rst" LOCATE = SITE "K17" LEVEL 1;
COMP "data_u<3>" LOCATE = SITE "E6" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

