NET rst LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET EnBlink LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET Din<3> LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET Din<2> LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET Din<1> LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET Din<0> LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET Dout<7> LOC = "A8" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET Dout<6> LOC = "G9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET Dout<5> LOC = "A7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET Dout<4> LOC = "D13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET Dout<3> LOC = "E6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET Dout<2> LOC = "D6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET Dout<1> LOC = "C3" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET Dout<0> LOC = "D4" | IOSTANDARD = SSTL2_I ;
NET clk LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET clk PERIOD = 20.0ns HIGH 40%;