NET rst LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET en LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET data<5> LOC = "G9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data<4> LOC = "A7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data<3> LOC = "D13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data<2> LOC = "E6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data<1> LOC = "D6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET data<0> LOC = "C3" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET clk LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET clk PERIOD = 20.0ns HIGH 40%;